.banner {
  width: 50%;
  height: 30%; /* Ajuste a altura conforme necessário */
  background-size: cover;
  background-position: 0%;
}

.logo {
  max-width: 250px; /* Ajuste o tamanho conforme necessário */
}
.trabalhos {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.trabalho-item {
  flex: 0 0 24%; /* Para 4 itens em uma linha */
  margin-bottom: 20px;
}
.trabalho-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.header {
  background-color: white;
}

.header-logo .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  color: white;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo img {
  height: 50px;
  width: auto;
}

.header-nav .nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.header-nav .nav-list li:last-child {
  margin-right: 0;
}

.header-nav .nav-list li a {
  color: green;
  text-decoration: none;
  font-size: 18px;
}

/* Estilos do hero section */

.hero-heading {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-subheading {
  font-size: 24px;
  margin-bottom: 30px;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Estilos das seções */
.section-heading {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.section-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos dos serviços */
.services-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.12rem;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

a.item-cabecalho {
  color: #112e61;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

a:hover,
a:active {
  color: #f60;
}

ul.services-list {
  display: none;
}

.item-cabecalho.have-downtriangle::after {
  content: "\2BC6";
  margin-left: 0.5rem;
}

p.h3,
p.h4 {
  font-size: 1.9rem;
}

.secao.secao-about {
  background-color: wheat;
}

.about-p {
  color: #404040;
  text-align: center;
}

.secao.secao-eletrica {
  background-color: #404040;
}

.secao.secao-climatizacao {
  background-color: rgb(221, 221, 221);
}

.secao.secao-footer {
  background-color: rgb(124, 120, 120);
  padding: 2rem;
}

.secao.secao-footer ul {
  list-style-type: none;
}

.rodape {
  color: black;
  padding: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 2.3rem;
}

.container {
  width: 80%;
  margin: auto;
}

.section-heading {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-text {
  text-align: center;
  color: #666;
  font-size: 1em;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.feedback-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.eletrica-item,
.climatizacao-item {
  text-align: center;
}

.eletrica-title,
.climatizacao-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.eletrica-description,
.climatizacao-description {
  font-size: 18px;
}

/* Estilos do footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  font-size: 18px;
}

/* Estilos do ícone do WhatsApp */
.whatsapp-link {
  position: fixed;
  top: 30rem;
  right: 1rem;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.section-heading {
  color: #333;
  text-align: center;
}

.services-grid,
.eletrica-grid,
.climatizacao-grid {
  display: flex;
  justify-content: space-between;
}

.service-item,
.eletrica-item,
.climatizacao-item {
  width: 45%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  position: absolute;
  top: 80%; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
}

div.trabalhos.container {
  background-color: grey;
}

.trabalho-descricao {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.trabalhos-grid {
  display: flex; /* Adicionado para colocar as fotos lado a lado */
  justify-content: space-between; /* Espaço entre as fotos */
}
