h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  font-size: 2.4rem;
  color: orange;
}

h4 {
  color: orange;
  font-size: 1.4rem;
  text-align: center;
  font-size: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 18rem;  
  height: auto; 
}

html {
  background-color: white;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}



/* a:link a:visited {
} */

.container-2 {
  display: flex;
  justify-content: space-around;
}
.form-container-2 {
  width: 70%;
}
.map-container-2 {
  width: 30%;
}

.carousel-image-container {
  display: flex;
  justify-content: space-around;
}

.carousel-image {
  border-radius: 15px;
  width: 45%;
  object-fit: cover;
}

.carousel-indicators li {
  background-color: #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-image-container {
  display: flex;
  justify-content: space-between; /* Isso adiciona espaço igual entre as imagens */
}

/* Estilo para as imagens pequenas */
.imagem-pequena {
  border: 0.125rem solid orange;
  border-radius: 0.625rem; /* Ajuste conforme necessário */
  width: 6.25rem; /* Ajuste conforme necessário */
  height: 6.25rem; /* Ajuste conforme necessário */
}

/* Estilo para os círculos de navegação */
.circulo-navegacao {
  display: inline-block;
  width: 0.9375rem; /* Ajuste conforme necessário */
  height: 0.9375rem; /* Ajuste conforme necessário */
  background-color: grey;
  border-radius: 50%;
  margin: 0.3125rem; /* Ajuste conforme necessário */
}

.circulo-navegacao.ativo {
  background-color: red; /* Cor do estado ativo, ajuste conforme necessário */
}

.circulo-navegacao.ativo {
  background-color: red; /* Cor do estado ativo, ajuste conforme necessário */
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.secao {
  padding: 7.63rem 2rem;
}

.secao-eletrica p {
  display: inline-block; 
  width: 33%; 
  vertical-align: top;
  font-weight: 600;
  color: orange;
}

.secao-climatizacao p {
  display: inline-block; 
  width: 33%; 
  vertical-align: top;
  font-weight: 600;
  color: rgb(0, 162, 255);
}

h2.service-ele {
  color: orange;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}

h2.service-clima {
  color: rgb(0, 162, 255);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.12rem;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
}

ul.eletric-list {
  list-style-type: circle; 
  display: flex; 
  justify-content: space-between;
  font-weight: 600;
}	

.secao.secao-clima {
  background-color: rgb(255, 145, 0);
  margin-bottom: 2.0rem;
}

.lista-container {
  margin: 0, 0.4rem, 0,  0.4rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

a.item-cabecalho {
  color: rgba(31,97,93,255);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

a:hover,
a:active {
  color: #f60;
}

ul.services-list {
  display: none;
}

.item-cabecalho.have-downtriangle::after {
  content: "\2BC6";
  margin-left: 0.5rem;
}

p.h3,
p.h4 {
  font-size: 1.9rem;
}

.secao.secao-about {
  background-color: rgba(31,97,93,255);
}

.about-p {
  color: #404040;
  text-align: center;
}

.secao.secao-footer {
  background-color: rgb(124, 120, 120);
  padding: 2rem;
}

.secao.secao-footer ul {
  list-style-type: none;
}

.rodape {
  color: black;
  padding: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 2.3rem;
}

.feedback-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3.feedback-h3 {
  font-size: 1.5rem;
  text-align: center;
  font-size: 2.4rem;
  color: grey;
}
h2.subtitle {
  font-size: 1.7rem;
  text-align: center;
}	

.outros-servicos {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rodape-p,
.harri {
  color: #404040;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 1.92rem;
  font-size: 1.92rem;
  text-decoration: none;
}

.harri-tel {
  color: orange;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(255, 255, 255);
}

.img-whatsapp {
  width: 5rem;
  position: fixed;
  top: 30rem;
  right: 1rem;

}



  /* Seu CSS existente aqui */

  .carousel-container {
    margin: auto;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px; /* Espaçamento entre os itens do carrossel */
  }
  
  /* Estilize os carrosséis conforme necessário */
  

  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  